annotated-types==0.7.0
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
djlint==1.34.1
EditorConfig==0.12.4
greenlet==3.0.3
html-tag-names==0.1.2
html-void-elements==0.1.0
idna==3.8
json5==0.9.25
pathspec==0.12.1
pydantic==2.8.2
pydantic-settings==2.4.0
pydantic_core==2.20.1
pyTelegramBotAPI==4.21.0
python-dotenv==1.0.1
PyYAML==6.0.1
regex==2023.12.25
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.32
sqlmodel==0.0.21
tomli==2.0.1
tqdm==4.66.4
typing_extensions==4.12.2
urllib3==2.2.2
